<!--<h1>Date 27 Setptember 2016</h1>
<div>
  <table class='table table-bordered'>
    <tr>
      <th>Item</th>
      <th>Quatity</th>
      <th>Unit Price</th>
      <th>Total</th>
    </tr>
    <tbody>

      <tr *ngFor="let items of order.items; let i = index">
        <td>{{items.item}}</td>
        <td>{{items.quantity | number}}</td>
        <td>{{items.unit_price}}</td>
        <td>{{items.unit_price * items.quantity | currency:'MYR'}}</td>
      </tr>

      <tr>
        <td colspan="3" id='table-total-text'>Total</td>
        <td>{{order.items | totalPipe | currency:'MYR'}}</td>
      </tr>
      <tr>
        <td colspan="3" id='table-total-text'>Tax</td>
        <td>{{order.items | totalPipe | taxPipe:6 | currency:'MYR'}}</td>
      </tr>
      <tr>
        <td colspan="3" id='table-total-text'>Total</td>
        <td>{{ (order.items | totalPipe) + (order.items | totalPipe | taxPipe:6) | currency:"MYR" }}</td>
      </tr>
    </tbody>
  </table>
</div>-->
<div>
  New Receipt component!!!
</div>
<app-receipt [order]="order"></app-receipt>